.bg {
  background-image: url(./asset/img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  font-size: 30px;
  font-weight: 500;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}
.GlassesUse {
  width: 147px !important;
  top: 78px;
  left: 911px;
  position: absolute;
}
.sample {
  margin-top: 30px;
  position: relative;
}
.modelLeft {
  margin-right: 200px;
}
.sample img {
  width: 250px;
}
.product {
  display: flex;
  width: 60%;
  /* background-color: #fff; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: auto;
  margin-top: 30px;
  filter: unset;
}
.item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  margin: 0 5px;
}
.item img {
  width: 100%;
  height: 55px;
  cursor: pointer;
  border: 1px solid #ccc;
}
